body {
    color: rgb(255, 255, 0);
    background: rgb(255, 0, 0);
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 3px rgb(111, 0, 255);
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(255, 255, 0);
}

.chamada-principal {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada {
    margin-right: 5%;
    color: rgb(255, 255, 0);
}

.outras-indicacoes {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.outros-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.outros-videos img{
    opacity: 0.5;
    height: 200px;
}
.outros-videos img:hover {
    opacity: 1.0;
    border: 4px solid yellow;
}
img {
    height: 200px;
}
h1 {
    font-size: 40px;
}